$small	: 576px;
$medium	: 768px;
$large	: 992px;
$extra-large	: 1200px;
$supper-large : 1440px;

@mixin mobile-large {
	@media (min-width : $small) {
		@content;
	}
}

@mixin tablet {
	@media (min-width : $medium) {
		@content;
	}
}

@mixin tablet-large {
	@media (min-width : $large) {
		@content;
	}
}

@mixin destop {
	@media (min-width : $extra-large) {
		@content;
	}
}

@mixin destop-large {
	@media (min-width : $supper-large) {
		@content;
	}
}
