<div class="case-studies">
	<section class="container">
		<div class="row">
			<div class="case-studies__text">
				<p class="case-studies__title">
					Case Studies
				</p>
				<div>
					<p class="case-studies__heading">
						200% jump in direct downloads!
					</p>
					<p class="case-studies__desc">
						Instannt success for Waronga after <br />
						App redesign and optimisation.
					</p>
				</div>
			</div>
			<div class="case-studies__img">
				<img src="../assets/images/phone_image.png" alt="casses-studies" />
			</div>
		</div>
	</section>
</div>