<footer>
    <div class="container footer_wrapper">
        <div class="col-left">
            <img src="../assets/images/logo_header.png" />
            <div class="footer__help">
                <a href="#">Connect with Us</a>
                <div>
                    <a href="#"> Support</a>
                    <a href="#">Need a business parter?</a>
                </div>
            </div>
            <a href="#">Contact: PrivacyTerms of use. Accessibility</a>

        </div>
        <div class="col-right" id="particles-js-footer">
            <div class="footer__address">
                <p>
                    67 Voortrekker Avenue
                </p>
                <p>Edenvale, South Africa</p>
            </div>
            <div class="footer__info">
                <p>Mobile +27 (73) 370 6331</p>
                <p>Phone +27 11 076 5480</p>
                <a href="#">Send us mail</a>
            </div>
        </div>
    </div>
</footer>