<header>
	<div class="container header" id="particles-js">
		<div id="mySidenav" class="sidenav">
			<a href="/">actionable insights</a>
			<a href="#" id="close_menu" class="closebtn">&times;</a>
			<a href="#">How.</a>
			<a href="#">case studies.</a>
			<a href="#">us.</a>
			<a href="#" style="color: #f29d21;">Contact.</a>
		</div>
		<nav>
			<div class="branch">
				<img src="../assets/images/logo_header.png" id="Icon" />
			</div>
			<div class="header-left">
				<div class="link__insights"><a href="/">actionable insights</a></div>
				<div>
					<ul class="navigation" id="navigation">
						<li class="class--li"><a href="">How.</a></li>
						<li class="class--li"><a href="">case studies.</a></li>
						<li class="class--li"><a class="navi__a" id="library">us.</a></li>
						<a id="btn__navigate--contact" href="">CONTACT.</a>
					</ul>
					<div class="wrapper__toggle" id="toggle_menu">
						<svg id="Layer_1" class="toggle" enable-background="new 0 0 512 512" height="512"
							viewBox="0 0 512 512" width="512" xmlns="http://www.w3.org/2000/svg">
							<path
								d="m464.883 64.267h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z" />
							<path
								d="m464.883 208.867h-417.766c-25.98 0-47.117 21.136-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.013-21.137-47.149-47.117-47.149z" />
							<path
								d="m464.883 353.467h-417.766c-25.98 0-47.117 21.137-47.117 47.149 0 25.98 21.137 47.117 47.117 47.117h417.766c25.98 0 47.117-21.137 47.117-47.117 0-26.012-21.137-47.149-47.117-47.149z" />
						</svg>
					</div>
				</div>
			</div>
		</nav>
		<div class="center_shape">
			<span></span>
		</div>
		<section class="main__content " id="main_content">
			<div class="line__content"><span></span></div>
			<p class="text_main" id="textMain">
				We extract data from servers and put it in the hands of users, where
				it’s most valuable.
			</p>
		</section>
		<div class="bottom__play">
			<button class="play__circle bg_white">
				<img src="../assets/images/polygon_play.png" />
			</button>
			<span>Watch how we do it —
				<span style="font-style: italic;">2.08 sec</span></span>
		</div>
	</div>
</header>