<section class="help-other ">
	<video width="100%" autoplay muted loop id="myVideo">
		<source src="../assets/video/example.mp4" type="video/mp4">
		Your browser does not support HTML5 video.
	</video>
	<div class='container'>
		<div class="row">

			<div class="help-other__top">
				<a href="#">
					<button class="help-other__btn">
						<img src="../assets/images/polygon_white.png" />
					</button>
					See how we're helping others.
				</a>
			</div>
			<div class="help-other__bottom">
				<div>
					<div class="help-other__box">
						<p>In Retail</p>
						<a href="#" class="help-other__more">
							<p>In Retail</p>
							<p>
								<span>Discover</span>
								<img src="../assets/images/long-arrow.png" alt="" />
							</p>
						</a>
					</div>
				</div>
				<div>
					<div class="help-other__box">
						<p>Medical Sector.</p>
						<a href="#" class="help-other__more">
							<p>Medical Sector.</p>
							<p>
								<span>Discover</span>
								<img src="../assets/images/long-arrow.png" alt="" />
							</p>
						</a>
					</div>
				</div>
				<div>
					<div class="help-other__box">
						<p>Sercive Industry</p>
						<a href="#" class="help-other__more">
							<p>Sercive Industry</p>
							<p>
								<span>Discover</span>
								<img src="../assets/images/long-arrow.png" alt="" />
							</p>
						</a>
					</div>
				</div>
				<div>
					<div class="help-other__box">
						<p>Commerce</p>
						<a href="#" class="help-other__more">
							<p>Commerce</p>
							<p>
								<span>Discover</span>
								<img src="../assets/images/long-arrow.png" alt="arrow" />
							</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>