<div class="impact-business">
	<section class="container">
		<div class="row">
			<p class="impact-business__title">
				How we directly impact businesses and productivity.
			</p>
			<div class="impact-business__content">
				<div class="impact-business__box">
					<div>
						<h6 class="impact-business__heading">
							We simplify
						</h6>
						<div class="impact-business__desc">
							<p>Analytics</p>
							<p>Cloud Computing</p>
							<p>Mobile Technology</p>
							<div class="impact-business__arrow">
								<img src="../assets/images/long-arrow.png" alt="arrow" />
							</div>
						</div>
					</div>
					<div>
						<h6 class="impact-business__heading">
							We simplify
						</h6>
						<div class="impact-business__desc">
							<p>Analytics</p>
							<p>Cloud Computing</p>
							<p>Mobile Technology</p>
							<div class="impact-business__arrow">
								<img src="../assets/images/long-arrow.png" alt="arrow" />
							</div>
						</div>
					</div>
				</div>
				<div class="impact-business__box">
					<div>
						<h6 class="impact-business__heading">
							We Increase Sells
						</h6>
						<div class="impact-business__desc">
							<p>Commerce</p>
							<p>Service and CRM</p>
							<p>Marketing and Sales</p>
							<div class="impact-business__arrow">
								<img src="../assets/images/long-arrow.png" alt="arrow" />
							</div>
						</div>
					</div>
					<div>
						<h6 class="impact-business__heading">
							We Increase Sells
						</h6>
						<div class="impact-business__desc">
							<p>Commerce</p>
							<p>Service and CRM</p>
							<p>Marketing and Sales</p>
							<div class="impact-business__arrow">
								<img src="../assets/images/long-arrow.png" alt="arrow" />
							</div>
						</div>
					</div>
				</div>
				<div class="impact-business__box">
					<div>
						<h6 class="impact-business__heading">
							We Develop
						</h6>
						<div class="impact-business__desc">
							<p>Content Management</p>
							<p>Software Development</p>
							<p>Collaboration</p>
							<div class="impact-business__arrow">
								<img src="../assets/images/long-arrow.png" alt="arrow" />
							</div>
						</div>
					</div>
					<div>
						<h6 class="impact-business__heading">
							We Develop
						</h6>
						<div class="impact-business__desc">
							<p>Content Management</p>
							<p>Software Development</p>
							<p>Collaboration</p>
							<div class="impact-business__arrow">
								<img src="../assets/images/long-arrow.png" alt="arrow" />
							</div>
						</div>
					</div>
				</div>
				<div class="impact-business__box">
					<div>
						<h6 class="impact-business__heading">
							We Produce
						</h6>
						<div class="impact-business__desc">
							<p>Digital Products</p>
							<p>Service Software</p>
							<p>Licensing</p>
							<div class="impact-business__arrow">
								<img src="../assets/images/long-arrow.png" alt="arrow" />
							</div>
						</div>
					</div>
					<div>
						<h6 class="impact-business__heading">
							We Produce
						</h6>
						<div class="impact-business__desc">
							<p>Digital Products</p>
							<p>Service Software</p>
							<p>Licensing</p>
							<div class="impact-business__arrow">
								<img src="../assets/images/long-arrow.png" alt="arrow" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>