<div class="processing_wrapper">
	<section class="container">
		<div class="row">
			<p class="title_wrapper">
				We help our clients automate and advance businesses through the
				processing and visualisation of data.
			</p>
			<div class="processing_image_wrapper">
				<div class="processing_item first_config">
					<div class="process_content">
						<div class="article">
							<p class="process_text">How we help you sell better.</p>
							<img src="../assets/images/long-arrow.png" />
						</div>

						<button class="play__circle bg_white">
							<img src="../assets/images/polygon_play.png" />
						</button>
					</div>
				</div>
				<div class="processing_item second_config">
					<div class="process_content">
						<div class="article">
							<p class="process_text">
								How we structure data for decisson making.
							</p>
							<img src="../assets/images/long-arrow.png" />
						</div>

						<button class="play__circle bg_white">
							<img src="../assets/images/polygon_play.png" />
						</button>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>