<!DOCTYPE html>
<html>

<head>
    <title>Landing Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
</head>


<body>
    {{> partials/header.hbs}}
    {{> partials/processing.hbs}}
    {{> partials/impactBusiness.hbs}}
    {{> partials/helpOther.hbs}}
    {{> partials/caseStudies.hbs}}
    {{> partials/footer.hbs}}
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> <!-- stats.js lib -->
    <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>

</body>

</html>