@import url("https://rsms.me/inter/inter.css");
@import "./styles/impactBusiness.scss";
@import "./styles/processing.scss";
@import "./styles/commons/reset.scss";
@import "./styles/helpOther.scss";
@import "./styles/caseStudies.scss";
@import "./styles/footer.scss";
@import "./styles/header.scss";
@import "./styles//commons/particles.scss";

html {
  box-sizing: border-box;
  -ms-overflow-style: scrollbar;
}
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.fade-in {
  animation: fadeIn infinite 8.5s ease-in-out;
  -webkit-animation: fadeIn infinite 8.5s ease-in-out;
  -moz-animation: fadeIn infinite 8.5s ease-in-out;
  -o-animation: fadeIn infinite 8.5s ease-in-out;
  -ms-animation: fadeIn infinite 8.5s ease-in-out;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.play__circle {
  width: 31.73px;
  height: 31.73px;
  cursor: pointer;
  padding: 2px 0 0 4px;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  border: none;
  outline: none !important;
  &.bg_white {
    background-color: #fff;
  }
  img {
    width: 12.87px;
    margin: 0 auto;
  }
}
